.roomList {
  width: 80px;
  min-width: 80px;
  height: 100%;

  display: flex;
  flex-flow: column nowrap;
  align-items: center;
}

.Logo {
  cursor: pointer;
  margin-top: 5px;
  background-color: var(--color-white);
  border-radius: 50%;
  width: 50px;
  height: 50px;

  display: flex;
  justify-content: center;
  align-items: center;

  transition: all 200ms ease-in;
  font-size: var(--font-medium);
}

.main:hover {
  background-color: var(--color-light-blue);
  color: var(--color-white);
  border-radius: 30%;
}

.line {
  background-color: var(--color-light-black);
  margin: 10px 0 0 0;
  border: none;
  width: 40px;
  height: 3px;
}

.plus:hover {
  background-color: var(--color-strong-green);
  color: var(--color-white);
  border-radius: 30%;
}

ul {
  margin: 0;
  padding: 0;
  margin-bottom: 5px;
}

.temp:hover {
  background-color: yellow;
  border-radius: 30%;
}
