.container {
  background-color: var(--color-white);
  border-top-left-radius: 10px;

  font-family: 'Noto Sans CJK KR';
  font-style: normal;
  color: var(--color-light-black);
  font-weight: normal;

  flex: 1;
  height: 100%;
  overflow: hidden;

  display: flex;
  flex-flow: column nowrap;
}
