.box {
  background-color: var(--color-white);
  width: 100%;
  height: 60px;
  min-height: 60px;
  display: flex;
  justify-content: space-between;
  align-items: center;

  font-family: 'Noto Sans CJK KR';
  font-style: normal;
  color: var(--color-light-black);

  padding-right: 20px;
}

.name {
  background-color: var(--color-light-white);
  font-size: var(--font-regular);
  font-weight: bold;
  padding-left: 30px;
  padding-right: 20px;
  width: 250px;
  min-width: 250px;
  height: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;

  cursor: pointer;
  transition: all 200ms ease-in;
}

.name:hover {
  background-color: var(--color-white);
}

.nameBtn {
  cursor: pointer;
}

.btnSet {
  display: flex;
  flex-flow: row nowrap;
}

.barBtn {
  font-size: var(--font-regular);
}

.search {
  font-size: var(--font-small);
  font-weight: normal;
  display: flex;
  flex-flow: row nowrap;
}

.input {
  background-color: var(--color-bg);
  border-radius: 4px;
  border: none;
  outline: none;

  width: 150px;
  min-width: 150px;
  height: 30px;

  margin-left: 15px;
  padding: 0 5px;

  transition: all 300ms ease-in;
}

.input:focus {
  width: 300px;
}
