.lightloginBox {
  border-radius: 10px;
  border: 1px solid #ffffff;
  width:400px;
  height:330px;
  background-color: black;
  margin-left:-150px;
  margin-top:-150px;
  position: absolute;
  padding: 10px;
  box-shadow: 0px 3px 8px 3px rgba(0, 0, 0, 0.3);
}
.darkloginBox {
  border-radius: 10px;
  border: 1px solid #ffffff;
  width:400px;
  height:330px;
  background-color: var(--color-dark-white);
  margin-left:-150px;
  margin-top:-150px;
  position: absolute;
  padding: 10px;
  box-shadow: 0px 3px 8px 3px rgba(0, 0, 0, 0.3);
}

.loginInput {
  border: 1px solid #ccc;
  margin-top: 10px;
  margin-bottom: 10px;
  width: 250px;
  height: 40px;
  outline: none;
  padding: 0 10px;
  border-radius: 5px;
  font-size: 15px;
  box-shadow: 0px 1px 2px 1px rgba(0, 0, 0, 0.2);
}
.loginButton {
  width: 300px;
  height: 50px;
  border: none;
  background-color: #5865fe;
  color: #fff;
  border-radius:7px;
  margin-top: 10px;
  font-size: 15px;
  font-weight: 700;
  transition: 0.3s;
  cursor: pointer;
  box-shadow: 0px 3px 8px 3px rgba(0, 0, 0, 0.3);

  margin-bottom: 15px;
}

.loginButton:hover {
  background-color: #bdbdbd;
}


.fa-discord {
  font-size: var(--font-large);
}
.text {
  font-size: var(--font-small);
  color: var(--color-light-black);
}
.signUptext {
  cursor: pointer;
  font-size: var(--font-small);
  color: var(--color-light-black);
}
