.container {
  background-color: var(--color-white);
  border-top-left-radius: 10px;

  font-family: 'Noto Sans CJK KR';
  font-style: normal;
  color: var(--color-light-black);
  font-weight: normal;

  flex: 1;
  height: 100%;
  overflow: hidden;

  display: flex;
  flex-flow: column nowrap;
}

.container_dark {
  background-color: var(--color-black);
  border-top-left-radius: 1%;

  font-family: 'Noto Sans CJK KR';
  font-style: normal;
  color: var(--color-light-white);
  font-weight: normal;

  flex: 1;
  height: 100%;
  overflow: hidden;
}

.line {
  background-color: var(--color-dark-white);
  border: none;
  margin: 0;
  width: 100%;
  height: 3px;
  min-height: 3px;
}

.channelBox {
  display: flex;
  flex-flow: row nowrap;
  height: 100%;
}

.voice {
  position: relative;
  width: 250px;
  min-width: 250px;
  height: 100%;
  background-color: var(--color-light-white);

  display: flex;
  flex-flow: column nowrap;
  justify-content: space-between;
}

.chat {
  height: 100%;
  flex: 1;

  display: flex;
  flex-flow: column nowrap;

  min-width: 170px;
}

.user {
  height: 100%;
  background-color: var(--color-light-white);
  overflow: hidden;
  transition: all 300ms ease-in;

  overflow: hidden;

  display: flex;
  flex-flow: column nowrap;
  align-items: flex-start;
}

.chatBox {
  flex: 1;
  display: flex;
  flex-flow: column nowrap;
  padding: 0 10px;
  margin: 0;

  overflow-y: scroll;
}

.inputBox {
  height: 60px;
  min-height: 60px;
  display: flex;
  justify-content: center;
}

.input {
  font-family: 'Noto Sans CJK KR';
  font-style: normal;
  color: var(--color-light-black);
  font-weight: normal;
  font-size: var(--font-small);

  background-color: #ebedef;
  border: none;
  outline: none;

  width: 95%;
  height: 40px;
  padding: 0 20px;
  border-radius: 5px;
}
.voiceList {
  flex: 1;
}
.profile {
  background-color: #ebedef;
  height: 60px;
  min-height: 60px;

  display: flex;
  justify-content: space-between;
  align-items: center;

  padding: 0 10px;
}
.profileInfo {
  display: flex;
  align-items: center;
  flex: 1;
}

.imgBox {
  width: 30px;
  height: 30px;
  border-radius: 50%;
  overflow: hidden;
  margin-right: 5px;
}
.profile_img {
  width: 30px;
  height: 30px;
}

.profileBtnSet {
  font-size: var(--font-small);
  width: 70px;

  display: flex;
  justify-content: space-between;
}

.firstChat {
  display: flex;
  flex-flow: column nowrap;
  align-items: center;
  justify-content: center;

  margin: 30px 0;
}

.userListText {
  margin: 5px 0px 7px 5px;
  white-space: nowrap;
}
